<canvas id = "canvas--welcome"></canvas>

<div class = "welcome__wrapper">
    <div class = "welcome__title" >
      <!-- <a href id = "welcome-title">levels of grey</a> -->

      <%= link_to "levelsofgrey", main_path, :id=> "welcome-title"%>


      </div>
    <div class = "welcome__menu">

      <div class = "welcome__menu--item">
        <%= link_to "impressum & datenschutz", impressum_path %>
      </div>
   </div>
</div>
