<canvas id = "canvas--welcome"></canvas>

<div class = "welcome__wrapper">
    <div class = "welcome__title" >
      <a href id = "welcome-title">levels of grey</a>
      </div>
    <div class = "welcome__menu">
      <div class = "welcome__menu--item">
        <a href="">levelsofgrey</a>
      </div>
      <div class = "welcome__menu--item">
        <a href="">about</a>
      </div>
      <div class = "welcome__menu--item">
        <a href="">impressum</a>
      </div>
   </div>
</div>
